**/*.map
**/*.ts
**/.eslintignore
**/.eslintrc.json
**/.gitignore
**/tsconfig.json
*.vsix
*.zip
*.code-workspace
.prettierrc.js
.github/**
.vscode-test/**
.vscode/**
.azure-pipelines/**
node_modules/**
img/**
out/**
src/**
src-shared/**
src-webview/**
webpack.config.js
build/**
